language: ruby
sudo: false
cache: bundler
bundler_args: --without yard guard benchmarks

before_install:
  - gem install bundler -v '~> 1.10'

gemfile:
  - gemfiles/rails-5.0.gemfile
  - gemfiles/rails-5.1.gemfile
  - gemfiles/rails-5.2.gemfile
  - gemfiles/rails-6.0.gemfile

rvm:
  - 2.5
  - 2.6
  - ruby-head

matrix:
  allow_failures:
    - rvm: ruby-head
